
@media screen and (min-width: 520px) and (max-width: 768px)
{
        .haut_de_page
        {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
        }

        .haut_de_page nav a 
        {
            margin-left: 10px;
        }

        .haut_de_page nav 
        {
            padding-top: 0px;
            padding-bottom: 10px;
        }
        
        .filtres_hebergement
        {
            display:flex;
           flex-direction:column;
        }

        .bloc_blanc_gauche
        {
            margin-left: 0px;
        }

        .liste_des_hebergements
        {
            justify-content: space-evenly;
            padding-left: 5px;
        }

        .les_activites
        {
            justify-content: space-evenly;
        }

        .clic_activite
        {
            margin-bottom:20px;
        }

        #activités h3
        {
            margin-left: 30px;
        }
        
}