
*, *:after, *:before
 {
    box-sizing: border-box;
  }
  /* Définition d'une nouvelle police nommée Raleway-VariableFont_wghts */

  @font-face 
  { 
      font-family: 'Raleway-VariableFont_wghts';
      src: url('police/Raleway-VariableFont_wght.ttf') format('truetype');
  }


  /*Mise en place de la police et application d'une largeur de 98% de l'écran*/
  .bloc_page
  {
      font-family: Raleway-VariableFont_wghts;
      width: 90%;
      margin: auto;
  }
  
  /* Mise en page du header*/
  .haut_de_page
  {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }

  .haut_de_page nav
  {
      padding-top: 25px;
  }

  .nav 
  {
      display: flex;
  }
  
  .haut_de_page nav ul
  {
      display: flex;
      flex-direction: row;
      list-style-type: none;
  }
  
  .haut_de_page nav a
  {
      margin-left: 50px;
      padding: 20px;
  }

    a
  {
      text-decoration: none;
      color: black;
      font-size: 0.9em;
  }
  
  .haut_de_page nav a:hover
  {
      box-sizing: content-box;
      width: 100%;
      border-top: 2px solid #0065FC;
      color:#0065FC
  }
  
  .inscription 
  {
      font-weight: bold;
      color: #0065FC;
  }

  .texte 
  {
      line-height: 0.8em;
      margin-top: 20px;
  }
      
  .texte h1
  {
      font-size: 1em;
  }
  
  .texte h2
  {
      Font-size: 0.9em;
      font-weight: normal;
  }
  

  /*MISE EN PAGE DE LA SECTION FILTRE*/
  
  .filtre 
  {
      width: 100%;
  }


  .recherche_ville
  {
      display: flex;
      margin-top: 20px;
  }
  
  .recherche_ville img
  {
     background-color: #F2F2F2;
     padding: 10px 10px 10px 14px;
     width: 40px;
     height: 40px;
     border-radius: 10px 0px 0px 10px;
  }
  
  .search
  {
      padding-left: 12px;
      border-top: 2px solid #F2F2F2;
      border-bottom: 2px solid #F2F2F2;
      border-left: none;
      border-right:none;
      font-weight: bold;
      font-family:  Raleway-VariableFont_wghts;
      font-size: 0.8em;
      width: 190px;
      margin:0;
  }
  
  .bouton
  {
      color: white;
      font-weight: bold;
      font-size: 0.8em; 
      font-family:  Raleway-VariableFont_wghts;  
      background-color: #0065FC;
      border-radius: 0% 10px 10px 00%;
      padding-left: 12px;
      padding-right: 12px;
      border: none;
      cursor: pointer;
  }

  .bouton_mobile 
  {
      display: none
  }
  
  .filtre_hebergement
  {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px;
      font-weight: bold;
      font-size: 0.8em;
  }
  
  .filtre_hebergement h2
  {
      font-size: 01em;
      font-weight: bold;
  }

  .eco_famille
  {
      display:flex;
  }

  /*Mise en page du filtre Economique*/
  
  .slider_E
  {
      position: relative;
      display:block;
      margin-left: 45px;
      width:150px;
      height: 39px;
      cursor: pointer;
      transition: all .2s;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      padding-right: 10px;
      Padding-left: 25px;
      padding-top: 11px;
      padding-bottom: 10px;
      text-align: center;
      font-weight: bold;
      font-size:1em;
  }
  
  .slider_E:hover
  {
      background-color: #F2F2F2;
  }
  
  .switch_E input
  {
      display: none;
  }
  
  .slider_E:before
  {
      position: absolute;    
      transition: all .2s;
      content:"";
      height: 38px;
      width: 38px;
      Border-radius: 34px;
      top: -2.5px;
      left:-4px;
      background: url('images/money_bleu.svg') no-repeat;
      background-size: 40%;
      background-color:  #DEEBFF;
      background-position: center;
  }
  
  input:checked + .slider_E
  {
      background-color: #0065FC;
      color: white;
      padding-right: 40px;
  }
  
  input:checked + .slider_E:before
  {
      transform: translateX(116px);
  }
  
  /*Mise en page du filtre Familial*/
  
  .slider_F
  {
      position: relative;
      display: block;
      margin-left: 45px;
      width:110px;
      height: 39px;
      cursor: pointer;
      transition: all .2s;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      padding-top: 11px;
      padding-bottom: 10px;
      padding-left: 20px;
      text-align: center;
      font-weight: bold;
      font-size:1em;
  }
  
  .slider_F:hover
  {
      background-color:#F2F2F2;
  }
  
  .switch_F input
  {
      display: none;
  }
  
  .slider_F:before
  {
      position:absolute;
      content:"";
      transition: all .2s;
      top: -2.5px;
      Left: -4px;
      height: 38px;
      width: 38px;
      border-radius: 34px;
      background: url('images/child.svg') no-repeat;
      background-size: 40%;
      background-color:  #DEEBFF;
      background-position: center;
  }
  
  
  /* Il faut décaler le texte un peu mais je n'y arrive pas avec le padding.*/
  input:checked + .slider_F
  {
      background-color: #0065FC;
      color: white; 
      padding-right: 40px;
  }
  
  input:checked + .slider_F:before
  {
      transform: translateX(74px);
  }
  
  /*Mise en page du filtre Romantique*/
  
  .slider_R
  {
      position: relative;
      display:block;
      margin-left: 45px;
      cursor: pointer;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      font-weight: bold;
      font-size: 01em;
      padding-top: 11px;
      padding-bottom: 10px;
      padding-right: 10px;
      width: 140px;
      height: 39px;
      Padding-left: 40px;
  }
  
  .slider_R:hover
  {
      background-color:#F2F2F2;
  }
  
  .switch_R input
  {
      display: none;
  }
  
  .slider_R:before
  {
      position: absolute;
      content:"";
      transition: all .2s;
      height: 38px;
      width: 38px;
      border-radius: 34px;
      top: -2.5px;
      left: -4px;
      background: url('images/heart-solid.svg') no-repeat;
      background-size: 40%;
      background-position: center;
      background-color: #DEEBFF;
  }
  
 
  input:checked + .slider_R
  {
      background-color:#0065FC;
      color: white;
      padding-left: 30px;
  }
  
  input:checked + .slider_R:before
  {
      transform: translateX(112px)
  }
  
  /*Mise en page du filtre Animaux*/
  
  .slider_A
  {
      position: relative;
      display: block;
      margin-left: 45px;
      padding-top:11px;
      padding-left: 10px;
      padding-bottom: 10px;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      width: 182px;
      height: 39px;
      text-align: center;
      font-weight: bold;
      font-size: 1em;
      cursor:pointer;
  }
  
  .slider_A:hover
  {
      background-color:#F2F2F2;
  }
  
  .switch_A input
  {
      display: none;
  }
  
  .slider_A:before
  {
      position: absolute;
      transition: all .2s;
      content:"";
      height: 38px;
      width: 38px;
      top: -2.5px;
      left:-4px;
      border-radius: 34px;
      background: url('images/dog-solid.svg') no-repeat;
      background-size: 40%;
      background-position: center;
      background-color: #DEEBFF;
  }
  
  input:checked + .slider_A
  {
      background-color: #0065FC;
      color: white;
      padding-right: 30px;
  }
  
  input:checked + .slider_A:before
  {
      transform: translateX(145px)
  }
  /*Mise en page de la section information*/
  
  .info img
  {
      height: 15px;
      width: 15px;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      padding: 2px;
  }
  
  .info
  {
      display: flex;
      align-items:center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .info h4
  {
      font-size: 0.8em;
      margin-left: 5px;
  }
  
  /*MISE EN PAGE DE LA SECION VERTICALE*/
  .bloc_vertical
  {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  /*MISE EN PAGE DU HEBERGEMENTS*/

.bloc_hebergements h3
{
    font-weight: bold;
    font-size: 0.9em;
    padding-bottom: 20px;
    margin:0;
}

  .bloc_hebergements
  {
      width: 65%;
      background-color: #F2F2F2;
      border-radius: 15px 15px 15px 15px;
      display: flex;
      flex-direction: column;
      padding: 30px;
      
  }

  .liste_des_hebergements
  {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }

  .bloc_blanc_gauche
  {
    width: 230px;
    height: 190px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 30px;
    box-shadow: -2px 1px 6px 4px #e0dede;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 10px;
    border: solid 4px white;
  }
  
  .bloc_auberge
  { 
      background: url('images/hebergements/3_medium/cannebiere.jpg') no-repeat;
      background-size:contain;
  }

  .bloc_hotel_port
  { 
      background: url('images/hebergements/3_medium/hotel_port.jpg') no-repeat;
      background-size:contain;
  }

  .bloc_mouettes
  { 
      background: url('images/hebergements/3_medium/mouettes.jpg') no-repeat;
      background-size:contain;
  }

  .bloc_hotel_mer
  { 
      background: url('images/hebergements/3_medium/mer.jpg') no-repeat;
      background-size: cover;
    background-position-y: 165%;
  }

  .bloc_panier
  { 
      background: url('images/hebergements/3_medium/panier.jpg') no-repeat;
      background-size:contain;
  }

  .bloc_amina
  { 
      background: url('images/hebergements/3_medium/amina.jpg') no-repeat;
      background-size: cover;
      background-position-y: 70%;
  }

  .description_bloc_gauche
  {
    padding-top: 5px;
    border-radius: 0px 0 15px 15px;
    background-color: white;
    width: 103%;
    height: 55px;
    font-size: 0.8em;
    line-height: 0.5em;
    position: relative;
    top: 2px;
    right: 2px;
    padding-left: 5px;
  }

  .nom
  {
      font-weight: bold;
      font-size: 0.9em;
      margin-top: 5px;
  }

  .prix{
      font-size: 0.8em;
  }

  .fa-star
    {
      font-size: 0.8em;
      color: #0065FC;
      padding-right:2px;
      padding-top:2px;
    }

    .fa-star--grey
    {
        color:#b9b7b7;
    }

  .afficher_plus:hover
  {
      font-weight:bold;
  }
    
  /*MISE EN PAGE DU BLOC ASIDE - POPULAIRE*/

  .bloc_populaires
  {
    background-color:#F2F2F2;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px;
  }

  .titre_bloc_populaires
  {
    display: flex;
    justify-content: space-between;
    font-size: 01em;
    font-weight: bold;
        width: 300px;
    padding-bottom: 20px;
  }

.clic_droit
{
    display: flex;
    width: 300px;
    border: solid 4px white;
    box-shadow: -2px 1px 6px 4px #e0dede;
    border-radius: 15px;
    height: 115px;
    background: white;
    margin-bottom:30px;
}

    .bloc_blanc_droit
    {
    border-radius: 15px 0 0 15px;
    width: 40%;
    }

    .description_bloc_droit
    {
        display: flex;
        flex-direction: column;
        line-height: 1.5em;
    padding-left: 10px;
    padding-top:5px;
    width: 50%;
    }

    .nom_gauche
    {
        margin:0;
    }

    .prix_gauche
    {
        margin-top:0;
        margin-bottom:15px;
    }

  .soleil
  {
    background:url('images/hebergements/3_medium/soleil.jpg') no-repeat;
    background-size:cover;
  }

  .chambre
  {
    background: url('images/hebergements/3_medium/chambre.jpg') no-repeat;
    background-size: cover;
    
  }

  .bleu
  {
    background: url('images/hebergements/3_medium/bleu.jpg') no-repeat;
    background-size: cover;
    background-position-y: 90%;
  }

  

  

 

  

  

/*MISE EN PAGE DU BLOC ACTIVITE*/

  #activités
  {
      margin-top: 30px;
      width:100%;
  }

  .les_activites
  {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8em;
      font-weight: bold;
      justify-content: space-between;
  }

  .description__activite 
  {
      background-color: white;
      width: 100%;
      border-radius: 0 0 15px 15px;
      padding: 20px 0px 20px 10px;
      margin:0; 
  }

  .clic_vieux_port
  {
      width: 23%;
      box-shadow: -2px 1px 6px 4px #e0dede;
      border-radius: 15px;
      background: url('images/activites/3_medium/port.jpg');
      background-size: cover;
      background-position: 55% 55%;
      display: flex;
      flex-direction: column-reverse;
  }

  .bloc_fort_iles
{
    width: 23%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  .clic_fort
  {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height:200px;
      background: url('images/activites/3_medium/fort.jpg') no-repeat;
      background-size: cover;
      background-position: 15% 50%;
      box-shadow:-2px 1px 6px 4px #F2F2F2;
      border-radius: 15px;
  }

  .clic_iles
  {
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 170px;
      background: url('images/activites/3_medium/iles.jpg') no-repeat;
      background-size: cover;
    background-position: 50% 50%;
      box-shadow: -2px 1px 6px 4px #e0dede;;
      border-radius: 15px;
  }

  .clic_calanques
  {
      width: 23%;
      box-shadow: -2px 1px 6px 4px #e0dede;
      border-radius: 15px;
      background: url('images/activites/3_medium/calanques.jpg');
      background-size: cover;
      background-position: 55% 70%;
      display: flex;
      flex-direction: column-reverse;
  }

  .bloc_eglise_parc
{
    width: 23%;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


  .clic_eglise
  {
      width: 100%;
      height: 185px;
      box-shadow: -2px 1px 6px 4px #e0dede;
      border-radius: 15px;
      background: url('images/activites/3_medium/eglise.jpg');
      background-size: cover;
      background-position: 55% 50%;
      display: flex;
      flex-direction: column-reverse;
  }

  .clic_parc
  {
      width: 100%;
      height: 185px;
      box-shadow: -2px 1px 6px 4px #e0dede;
      border-radius: 15px;
      background: url('images/activites/3_medium/parc.jpg');
      background-size: cover;
      background-position: 55% 70%;
      display: flex;
      flex-direction: column-reverse;
  }

 footer
 {
     background-color: #f2f2f2;
     display: flex;
     width: 100%;
     font-family: Raleway-VariableFont_wghts;
     margin-top: 30px;
 }

 footer h4
 {
     font-weight: bold;
     font-size: 0.9em;
 }

 footer a
 {
     font-size: 0.8em;
     text-decoration: none;
     color: black;
     line-height: 2em;
 }

 .footer
 {
     display: flex;
     flex-direction: column;
     margin-right: 150px;
     padding-left: 65px;
 }

 

 
