
@media screen and (min-width: 520px) and (max-width: 900px)
{
        .haut_de_page
        {
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
        }

        .haut_de_page nav a 
        {
            margin-left: 10px;
        }

        .haut_de_page nav 
        {
            padding-top: 0px;
            padding-bottom: 10px;
        }
        
        .filtres_hebergement
        {
            display:flex;
           flex-direction:column;
        }

        .bloc_blanc_gauche
        {
            margin-left: 0px;
        }

        .liste_des_hebergements
        {
            justify-content: space-evenly;
            padding-left: 5px;
        }

        .les_activites
        {
            justify-content: space-evenly;
        }

        .clic_activite
        {
            margin-bottom:20px;
        }

        #activités h3
        {
            margin-left: 30px;
        }

        .clic_vieux_port
  {
      width: 300px;
      height:400px;
  }

  .bloc_fort_iles
{
    width: 300px;
    height:420px;
}

  .clic_fort
  {
      width: 300px;
      height:190px;
      
  }

  .clic_iles
  {
      
      width: 300px;
      height: 190px;
  }

  .clic_calanques
  {
      width: 300px;
      height:400px;
  }

  .bloc_eglise_parc
{
    width: 300px;
    height:420px;

}


  .clic_eglise
  {
      width: 300px;
      height: 185px;
      
  }

  .clic_parc
  {
      width: 300px;
      height: 185px;

  }

 

        
}