
*, *:after, *:before
  {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }

 
  /* Définition d'une nouvelle police nommée Raleway-VariableFont_wghts */

  @font-face 
  { 
      font-family: 'Raleway-VariableFont_wghts';
      src: url('police/Raleway-VariableFont_wght.ttf') format('truetype');
  }

  /*Mise en place de la police et application d'une largeur de 98% de l'écran*/
  .bloc_page
  {
      font-family: Raleway-VariableFont_wghts;
      width: 90%;
      margin: auto;
  }
  
  /* Mise en page du header*/
  .header__heading
  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
  }

  .header__img
  {
      width: 10%;
  }

  nav a 
  {
      text-decoration:none;
      cursor:pointer;
      color:black;
      padding-right: 20px;
      padding-left:30px;
      font-size:0.9em;
  }

  .inscription
  {
      font-weight:bold;
      color: #0065FC;
  }

  nav a:hover
  {
    box-sizing: content-box;
    padding-top: 15px;
    width: 100%;
    border-top: 2px solid #0065FC;
    color:#0065FC
  }

  .header__texte
  {
      line-height:1em;
  }

  .header__texte h1
  {
      font-size: 1em;
  }

  .header__texte h2
  {
      font-size: 0.9em;
      font-weight: normal;
  }

  /*SECTION FILTRES*/

  .filter
  {
      display: flex;
      flex-direction: column;
      margin-top: 3%;
  }

  .filter h2
  {
    font-size:0.9em;
    margin-right: 25px;
  }

  input
  {
    padding:0;
    border:none;
  }

  .fa-map-marker-alt
  {
      background-color: #F2F2F2;
      border-radius: 10px;
      text-align: center;
      padding:15px;
      font-size:1.1em;
  }

  .filter__form--search
  {
    border-top: solid #F2F2F2;
    border-bottom: solid #F2F2F2;
    padding: 14px 14px 14px 18px;
    position: relative;
    right: 8px;
    bottom: 2px;
    z-index: -1;
  }

.filter__form--button
{
    background: #0065FC;
    color: white;
    font-weight: bold;
    padding: 16px;
    border-radius: 10px;
    position: relative;
    right: 19px;
    bottom: 2px;
    z-index: -1;
}

.filter__form--button_mobile
{
    display:none;
}

.filter__toggle_buttons
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.toggle__button input
{
    display: none;
}

.slider
{
  position: relative;
  height: 40px;
  display: flex;
  border: solid #F2F2F2;
  border-radius: 34px;  
  padding-right: 10px;
  justify-content: flex-end;
  align-items: center;
  font-size:0.9em;
  font-weight: bold;
  transition: all 0.5s;
  margin-right: 30px;
}

.slider:hover
{
    background-color: #F2F2F2;
}

.slider--economique
{
    width: 143px;
}

.slider--familial
{
    width: 110px;
}

.slider--romantique
{
    width: 140px;
}

.slider--animaux
{
    width: 180px;
}

.slider:before
{
  border-radius: 34px;
  height: 40px;
  content:"";
  width: 40px;
  position: absolute;
  left:-2px;
  transition: all 0.3s;
 
}

.slider--economique:before
{
    background: url('images/money_bleu.svg') no-repeat;  
    background-position: center;
    background-size: 40%;
    background-color:  #DEEBFF;  
}

.slider--familial:before
{
    background: url('images/child.svg') no-repeat;  
    background-position: center;
    background-size: 40%;
    background-color:  #DEEBFF;  
}

.slider--romantique:before
{
    background: url('images/heart-solid.svg') no-repeat;  
    background-position: center;
    background-size: 40%;
    background-color:  #DEEBFF;  
}

.slider--animaux:before
{
    background: url('images/heart-solid.svg') no-repeat;  
    background-position: center;
    background-size: 40%;
    background-color:  #DEEBFF;  
}

input:checked + .slider
{
  background-color: #0065FC;
  color: white;
  justify-content: flex-start;
  padding-left: 10px;
}

input:checked + .slider--economique:before
{
  transform: translateX(103px);
}

input:checked + .slider--familial:before
{
  transform: translateX(70px);
}

input:checked + .slider--romantique:before
{
  transform: translateX(100px);
}

input:checked + .slider--animaux:before
{
  transform: translateX(140px);
}

.information
{
    display: flex;
    align-items:center;
    margin-bottom: 20px;
}

.fa-info
{
    text-align:center;
    font-size: 0.9em;
    color: #0065FC;
    height: 25px;
    width: 25px;
    border: solid #F2F2F2;
    border-radius: 34px;
    padding-top: 4px;
    margin-right: 10px;
}

/* SECTION HEBERGEMENTS*/

#section__hebergements
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hebergements__main_bloc
{
    display: flex;
    flex-direction: column;
    width: 65%;
    background-color: #F2F2F2;
    border-radius:15px;
    padding-top: 20px;
}

.hebergements__main_bloc h3
{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1em;
}

.hebergements__container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.clic
{
    text-decoration:none;
    color: black;
    font-size: 0.8em;
}

.hebergement__bloc
{
    width: 200px;
    border-radius:15px;
    background-color: white;
    box-shadow: -2px 1px 6px 4px #e0dede;
    padding:4px;
    margin: 15px;
}

.hebergement__bloc img
{
    height: 95px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.hebergement__description
{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    padding-left: 3px;
}

.hebergement__description--nom
{
    font-weight: bold;
}

.etoiles
{
    padding-top: 10px;
    font-size: 0.7em;
}

.fa-star
{
    color: blue;
}

.fa-star--grey
{
    color: #d5d4d4;;
}

.afficher_plus
{
    margin-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    cursor:pointer;
    font-size:0.9em;
    padding-top: 20px;
}

.afficher_plus:hover
{
    text-decoration: underline;
}

aside
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius:15px;
}

.popular_hebergements__heading
{
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}

.popular_hebergements__container
{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 10px;
}

.clic--popular
{
    font-size: 1em;
    font-weight: bold;
}

.hebergement__bloc--popular
{
    display: flex;
    flex-direction: row;
    width: 300px;
    margin-bottom:20px;
}

.hebergement__bloc--popular img
{
    border-radius: 15px 0px 0px 15px;
    width: 107px;
}

.hebergement__description--popular
{
    padding-left: 6px;
    width: 60%;
}

.etoiles--popular_hote
{
    padding-top: 35px;
}

.etoiles--popular
{
    padding-top: 50px;
}

/*MISE EN PAGE DU BLOC ACTIVITES*/

#activités
{
    margin-top: 30px;
}

.activite__container
{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.activite__nom
{
    padding:15px;
    font-weight:bold;
}

.activite__bloc
{
    width: 250px;
    height: 350px;
    display: block;
    border-radius:15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
}

.activite__bloc img
{
    width: 100%;
    height: 300px;
    border-radius: 15px 15px 0px 0px;
}

.double_activite__bloc
{
    height: 350px;
    width:250px;
}

.activite__bloc--fort
{
    display: block;
    height: 190px;
    border-radius:15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
}

.activite__bloc--fort img
{
    width:100%;
    height:140px;
    border-radius: 15px 15px 0px 0px;
}

.activite__bloc--iles
{
    display:block;
    height: 140px;
    border-radius:15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
    margin-top: 20px;
}

.activite__bloc--iles img
{
    width: 100%;
    height:90px;
    border-radius: 15px 15px 0px 0px;
}

.activite__bloc--eglise_parc
{
    display:block;
    height: 165px;
    border-radius:15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
}

.activite__bloc--eglise_parc img
{
    width:100%;
    height: 115px;
    border-radius: 15px 15px 0px 0px;
}

.marge
{
    margin-top: 20px;
}

/*MISE EN PAGE FOOTER*/

footer
{
    font-family:Raleway-VariableFont_wghts;
   background-color: #F2F2F2;
   display: flex;
   padding-top: 30px;
   margin-top: 30px;
   font-size:0.9em;
   line-height: 1.5em;
}

.footer
{
    display: flex;
    flex-direction: column;
    margin-right:200px;
    margin-left: 30px;
}

.footer h4
{
    font-size:0.9em;
}