
/*
to do: 
revoir les ancres du menu
rendre responsive
*/

/*questions: 
1. comment afficher le "s'inscrire en bleu ?"
2. comment afficher un hover à "afficher plus" ?
3. pourquoi ma page ne descend pas sur l'hebergement quand je clique sur le menu ?
4. questions sur les toggle switch romantique et animaux et meme question pour le responsive********************
*/


/* Définition d'une nouvelle police nommée Raleway-VariableFont_wghts */

*, *:after, *:before {
    box-sizing: border-box;
  }
  
  
  @font-face 
  { 
      font-family: 'Raleway-VariableFont_wghts';
      src: url('police/Raleway-VariableFont_wght.ttf') format('truetype');
  }
  
  /*Mise en place de la police et application d'une largeur de 98% de l'écran*/
  .bloc_page
  {
      font-family: Raleway-VariableFont_wghts;
      width: 90%;
      margin: auto;
  }
  
  /* Mise en page du header*/
  .haut_de_page
  {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }

  
  
  .haut_de_page nav ul
  {
      display: flex;
      flex-direction: row;
      list-style-type: none;
  }
  
  .haut_de_page nav li
  {
      margin-left: 50px;
  }
  
  .haut_de_page a
  {
      text-decoration: none;
      color: black;
      font-size: 0.9em;
  }
  
  .haut_de_page nav a:hover
  {
      box-sizing: content-box;
      width: 100%;
      border-top: 2px solid #0065FC;
      padding: 20px;
      color:#0065FC
  }
  
  .inscription 
  {
      font-weight: bold;
      color: #0065FC;
  }

  .texte 
  {
      line-height: 0.8em;
      margin-top: 20px;
  }
      
  .texte h1
  {
      font-size: 1em;
  }
  
  .texte h2
  {
      Font-size: 0.9em;
      font-weight: normal;
  }
  
  /*Mise en page de la section Filtre*/
  
  .recherche_ville
  {
      display: flex;
      margin-top: 20px;
  }
  
  .recherche_ville img
  {
     background-color: #F2F2F2;
     padding: 10px 10px 10px 14px;
     width: 40px;
     height: 40px;
     border-radius: 10px 0px 0px 10px;
  }
  
  .search
  {
      padding-left: 12px;
      border-top: 2px solid #F2F2F2;
      border-bottom: 2px solid #F2F2F2;
      border-left: none;
      border-right:none;
      font-weight: bold;
      font-size: 0.8em;
      width: 190px;
  }
  
  
  /*Pourquoi la taille du texte "rechercher" n'a pas changé?*/
  .bouton
  {
      color: white;
      font-weight: bold;
      font-size: 0.8em;   
      background-color: #0065FC;
      border-radius: 0% 10px 10px 00%;
      padding-left: 12px;
      padding-right: 12px;
      border: none;
      cursor: pointer;
  }
  
  .filtre_hebergement
  {
      display: flex;
      margin-top: 20px;
      font-weight: bold;
      font-size: 0.8em;
  }
  
  .filtre_hebergement h2
  {
      font-size: 01em;
      font-weight: bold;
  }
  /*Mise en page du filtre Economique*/
  
  .slider_E
  {
      position: relative;
      display:block;
      margin-left: 45px;
      width:150px;
      height: 39px;
      cursor: pointer;
      transition: all .2s;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      padding-right: 10px;
      Padding-left: 25px;
      padding-top: 11px;
      padding-bottom: 10px;
      text-align: center;
      font-weight: bold;
      font-size:1em;
  }
  
  .slider_E:hover
  {
      background-color: #F2F2F2;
  }
  
  .switch_E input
  {
      display: none;
  }
  
  .slider_E:before
  {
      position: absolute;    
      transition: all .2s;
      content:"";
      height: 38px;
      width: 38px;
      Border-radius: 34px;
      top: -2.5px;
      left:-4px;
      background: url('images/money_bleu.svg') no-repeat;
      background-size: 40%;
      background-color:  #DEEBFF;
      background-position: center;
  }
  
  input:checked + .slider_E
  {
      background-color: #0065FC;
      color: white;
      padding-right: 40px;
  }
  
  input:checked + .slider_E:before
  {
      transform: translateX(116px) ;
  }
  
  /*Mise en page du filtre Familial*/
  
  .slider_F
  {
      position: relative;
      display: block;
      margin-left: 45px;
      width:110px;
      height: 39px;
      cursor: pointer;
      transition: all .2s;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      padding-top: 11px;
      padding-bottom: 10px;
      padding-left: 20px;
      text-align: center;
      font-weight: bold;
      font-size:1em;
  }
  
  .slider_F:hover
  {
      background-color:#F2F2F2;
  }
  
  .switch_F input
  {
      display: none;
  }
  
  .slider_F:before
  {
      position:absolute;
      content:"";
      transition: all .2s;
      top: -2.5px;
      Left: -4px;
      height: 38px;
      width: 38px;
      border-radius: 34px;
      background: url('images/child.svg') no-repeat;
      background-size: 40%;
      background-color:  #DEEBFF;
      background-position: center;
  }
  
  
  /* Il faut décaler le texte un peu mais je n'y arrive pas avec le padding.*/
  input:checked + .slider_F
  {
      background-color: #0065FC;
      color: white; 
      padding-right: 40px;
  }
  
  input:checked + .slider_F:before
  {
      transform: translateX(74px);
  }
  
  /*Mise en page du filtre Romantique*/
  
  .slider_R
  {
    position: relative;
    display: block;
    margin-left: 45px;
    width:130px;
    height: 39px;
    cursor: pointer;
    transition: all .2s;
    border: 2px solid #F2F2F2;
    border-radius: 34px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size:1em;
  }
  
  .slider_R:hover
  {
      background-color:#F2F2F2;
  }
  
  .switch_R input
  {
      display: none;
  }
  
  .slider_R:before
  {
      position: absolute;
      content:"";
      transition: all .2s;
      height: 38px;
      width: 38px;
      border-radius: 34px;
      top: -2.5px;
      left: -4px;
      background: url('images/heart-solid.svg') no-repeat;
      background-size: 40%;
      background-position: center;
      background-color: #DEEBFF;
  }
  
  
  /*Même prblème, le texte ne se décale pas malgré le padding que je lui applique*/
  input:checked + .slider_R
  {
      background-color:#0065FC;
      color: white;
      padding-right: 20px;
  }
  
  input:checked + .slider_R:before
  {
      transform: translateX(122px)
  }
  
  /*Mise en page du filtre Animaux*/
  /*Le texte ne bouge pas comme pour economique et familiale pourquoi?*/
  
  .slider_A
  {
      position: relative;
      display: block;
      margin-left: 45px;
      padding-top:11px;
      padding-left: 10px;
      padding-bottom: 10px;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      width: 192px;
      height: 39px;
      text-align: center;
      font-weight: bold;
      font-size: 1em;
  }
  
  .slider_A:hover
  {
      background-color:#F2F2F2;
  }
  
  .switch_A input
  {
      display: none;
  }
  
  .slider_A:before
  {
      position: absolute;
      transition: all .2s;
      content:"";
      height: 38px;
      width: 38px;
      top: -2.5px;
      left:-4px;
      border-radius: 34px;
      background: url('images/dog-solid.svg') no-repeat;
      background-size: 40%;
      background-position: center;
      background-color: #DEEBFF;
  }
  
  input:checked + .slider_A
  {
      background-color: #0065FC;
      color: white;
  }
  
  input:checked + .slider_A:before
  {
      transform: translateX(164px)
  }
  /*Mise en page de la section information*/
  
  .info img
  {
      height: 15px;
      width: 15px;
      border: 2px solid #F2F2F2;
      border-radius: 34px;
      padding: 2px;
  }
  
  .info
  {
      display: flex;
      align-items:center;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  
  .info h4
  {
      font-size: 0.8em;
      margin-left: 5px;
  }
  
  /*Mise en page section hébergement*/
  
  .bloc_vertical
  {
      display: flex;
  }
 
  .les_hebergements
  {
     
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      width: 710px;
      height: 450px;
     
  }
  
  .hebergements
  {
      height: 500px;
      width: 735px;
      background-color: #F2F2F2;
      border-radius: 15px;
      padding-top: 10px;
      }
  
  .hebergements h3
  {
      font-size: 1em;
      font-weight: bold;
      padding-left: 30px;
      margin-bottom: 40px;
  }
  
  .les_hebergements a
  {   
      text-decoration: none;
      font-size: 0.9em;
      font-weight: bold;
      color:black;
      margin-left: 30px;
      margin-top: -25px;     
  }
  
  .prix
  {
      font-size: 0.8em;
      font-weight: normal;
  }

  .afficher_plus a:hover
  {
      text-decoration: 2px underline black;
  }

  .les_hebergements .nom
  {
      font-weight: bold;
      font-size: 0.9em;
  }

  .les_hebergements .prix
  {
      font-size: 0.8em;
  }

  .clic
  {
      display: block;
      text-decoration: none;
      color: black;
  }
  
  .etoile
  {
    display: flex;
    width: 30px;
  }

  .etoile img
  {
    height: 10px;
    width: 15px;
  }
  .clic .etoile
  {
    position: absolute;
    margin-left: 15px;
    margin-top: -15px;
  }

  .bloc_cannebiere
  {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 165px;
    background: white;
    border-radius: 15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_cannebiere img
  {
      position: absolute;
      width: 197px;
      height: 95px;
      border-radius: 15px 15px 0px 0px;
      margin-top: 4px;
      margin-right: 4px;
      margin-left: 4px; 
  }
  
  .description_cannebiere
  {
      position: absolute;
      margin-left: 15px;
      margin-top: 100px;
      line-height: 0.4em;
  }
  
  /* Mise en page bloc hotel du port */
  
  .bloc_hotel_du_port
  {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 165px;
    background: white;
    border-radius: 15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_hotel_du_port img
  {
      position: absolute;
      width: 197px;
      height: 95px;
      border-radius: 15px 15px 0px 0px;
      margin-top: 4px;
      margin-right: 4px;
      margin-left: 4px; 
  }
  
  .description_hotel_du_port
  {
      position: absolute;
      margin-left: 15px;
      margin-top: 100px;
      line-height: 0.4em;
  }
  
  /* Mise en page bloc hotel Les mouettes */
  
  .bloc_hotel_les_mouettes
  {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 165px;
    background: white;
    border-radius: 15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_hotel_les_mouettes img
  {
      position: absolute;
      width: 197px;
      height: 95px;
      border-radius: 15px 15px 0px 0px;
      margin-top: 4px;
      margin-right: 4px;
      margin-left: 4px; 
  }
  
  .description_hotel_les_mouettes
  {
      position: absolute;
      margin-left: 15px;
      margin-top: 100px;
      line-height: 0.4em;
  }
  

  /*Mise en page du bloc hotel de la mer*/
  
  .bloc_hotel_de_la_mer
  {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 165px;
    background: white;
    border-radius: 15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_hotel_de_la_mer img
  {
      position: absolute;
      width: 197px;
      height: 95px;
      border-radius: 15px 15px 0px 0px;
      margin-top: 4px;
      margin-right: 4px;
      margin-left: 4px; 
  }
  
  .description_hotel_de_la_mer
  {
      position: absolute;
      margin-left: 15px;
      margin-top: 100px;
      line-height: 0.4em;
  }

  /*Mise en page bloc auberge du panier*/
  
  .bloc_auberge_le_panier
  {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 165px;
    background: white;
    border-radius: 15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_auberge_le_panier img
  {
    position: absolute;
    width: 197px;
    height: 95px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px; 
  }
  
  .description_auberge_le_panier
  {
    position: absolute;
    margin-left: 15px;
    margin-top: 100px;
    line-height: 0.4em;
  }
  
  /*Mise en page bloc hotel chez Amina*/
  
  .bloc_hotel_chez_amina
  {
    display: flex;
    flex-direction: column;
    width: 205px;
    height: 165px;
    background: white;
    border-radius: 15px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_hotel_chez_amina img
  {
    position: absolute;
    width: 197px;
    height: 95px;
    border-radius: 15px 15px 0px 0px;
    margin-top: 4px;
    margin-right: 4px;
    margin-left: 4px;  
  }
  
  .description_hotel_chez_amina
  {
    position: absolute;
    margin-left: 15px;
    margin-top: 100px;
    line-height: 0.4em;
  }
  
  /*Mise en page bloc droit*/
  

  .les_plus_populaires .nom
  {
      font-size: 0.8em;
      font-weight: bold;
  }

  .les_plus_populaires .prix
  {
      font-size: 0.7em;
  }

  .les_plus_populaires
  {   flex:2;
      display: flex;
      flex-direction: column;
      background-color: #F2F2F2;
      border-radius: 15px;
      margin-left: 30px;
  }
  
  .titre_populaires
  {
      display: flex;
      justify-content: space-between;    
  }
  
  .titre_populaires a
  {
      font-size: 01em;
      font-weight:bold;
      margin-top: 25px;
      align-self: flex-end;
      text-decoration: none;
      color: black;
      margin-left: 30px;
  }
  
  .titre_populaires img
  {
      width: 5%;
      margin-right: 30px;
      align-self:flex-end;
  }
  
  .bloc_hotel_le_soleil_du_matin
  {
    display: flex;
    height: 120px;
    width: 280px;
    background-color: white;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_hotel_le_soleil_du_matin img
{
    position: absolute;
    height: 112px;
    width: 110px;
    border-radius: 15px 0px 0px 15px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
}
  
  .description_hotel_le_soleil_du_matin
  { 
    display: flex;
    flex-direction: column;
    position: relative;
    width: 130px;
    margin-left: 125px;
  }

  .rating img
  {
    height:10px;
    width: 15px;
  }

  .rating
  {
      display: flex;
      width: 30px;
      margin-left: 155px;
      margin-top: -20px;
  }

  .description_hotel_le_soleil_du_matin .prix
  {
      margin-top: -8px;
  }
  
  .bloc_au_coeur_deleau
  {
    display: flex;
    height: 120px;
    width: 280px;
    background-color: white;
    border-radius: 15px;
    margin-left: 30px;
    margin-right:30px;
    margin-top: 30px;
    box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_au_coeur_deleau img
  {
    position: absolute;
    height: 112px;
    width: 110px;
    border-radius: 15px 0px 0px 15px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
  }
  
  .description_au_coeur_deleau
  {
      display: flex;
      flex-direction: column;
      margin-left: 125px;
  }

  .description_au_coeur_deleau .prix
  {
      margin-top: -8px;
     margin-left: 1px;
  }
  
  
  .bloc_hotel_tout_bleu
  {
      display: flex;
      height: 120px;
      width: 290px;
      background-color: white;
      border-radius: 15px;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 30px;
      box-shadow: -2px 1px 6px 4px #e0dede;
  }
  
  .bloc_hotel_tout_bleu img
  {
    position: absolute;
    height: 112px;
    width: 110px;
    border-radius: 15px 0px 0px 15px;
    margin-top: 4px;
    margin-left: 4px;
    margin-bottom: 4px; 
  }

  .description_hotel_tout_bleu
  {
      display: flex;
      flex-direction: column;
      margin-left: 125px;
      width: 130px;
  }

  .description_hotel_tout_bleu .prix
  {
      margin-top: -8px;
  }

/*Mise en page bloc activités*/

  #activités
  {
     margin-top: 30px;
      height: 400px;
      display: flex;
      flex-direction: column;
  }
  
  #activités h3
  {
      font-size: 1em;
      font-weight: bold;
      margin-left: 30px;
      margin-top: 30px;
  }
  
  .les_activites
  {
      display: flex;
      justify-content: space-between;
      height: 370px;
      font-size: 0.8em;
      font-weight: bold;
  }
  
  .bloc_vieux_port
  {
      width: 256px;
      height: 350px;
      border-radius: 15px;
      box-shadow: -2px 1px 6px 4px #F2F2F2;
  }
  
  .bloc_vieux_port img
  {
      width: 256px;
      height: 300px;
      border-radius: 15px 15px 0px 0px;
  }
  
  .bloc_vieux_port p
  {
      padding-left: 15px;
      padding-top: 5px;
  }
  
  .bloc_fort_iles
  {
      margin-left: 30px;
      width: 256px;
      height: 350px;
      display: flex;
      flex-direction: column;
  }
  
  .bloc_fort
  {
      height: 186px;
      width: 256px;
      border-radius: 15px;
      box-shadow: -2px 1px 6px 4px #F2F2F2;
  }
  
  .bloc_fort img
  {
      width: 256px;
      height: 146px;
      border-radius: 15px 15px 0px 0px;
  }
  
  .bloc_fort p
  {
  padding-left: 15px;
  padding-bottom: 5px;
  }
  
  .bloc_iles
  {
      box-shadow: -2px 1px 6px 4px #F2F2F2;
      border-radius: 15px;
      width: 256px;
      height: 134px;
      margin-top: 30px;
  }
  
  .bloc_iles img
  {
      height: 96px;
      width: 256px;
      border-radius: 15px 15px 0px 0px;
  }
  
  .bloc_fort_iles p
  {
      Padding-left: 15px;
  }
  
  .bloc_calanques
  {
      margin-left: 30px;
      width: 256px;
      height: 350px;
      border-radius: 15px;
      box-shadow: -2px 1px 6px 4px #F2F2F2;
  }
  
  .bloc_calanques img
  {
      width: 256px;
      height: 300px;
      border-radius: 15px 15px 0px 0px;
  }
  
  .bloc_calanques p
  {
      padding-left: 15px;
      padding-top: 5px;
  }
  
  
  .bloc_eglise_parc
  {
      margin-left: 30px;
      width: 256px;
      height: 350px;
      display: flex;
      flex-direction: column;
  }
  
  .bloc_eglise
  {
      height: 160px;
      width: 256px;
      border-radius: 15px;
      box-shadow: -2px 1px 6px 4px #F2F2F2;
  }
  
  .bloc_eglise img
  {
      width: 256px;
      height: 120px;
      border-radius: 15px 15px 0px 0px;
  }
  
  .bloc_eglise p
  {
      padding-left: 15px;
  }
  
  .bloc_parc
  {
      height: 160px;
      width: 256px;
      border-radius: 15px;
      margin-top: 30px;
      box-shadow: -2px 1px 6px 4px #F2F2F2;
  }
  
  .bloc_parc img
  {
      width: 256px;
      height: 120px;
      border-radius: 15px 15px 0px 0px;
  }
  
  .bloc_parc p
  {
      padding-left: 15px;
  }
  
  footer
  {
      margin-top: 30px;
      font-family: Raleway-VariableFont_wghts;
      background-color: #F2F2F2;
      display: flex;
  }
  
  
  footer h4
  {
      font-size: 0.8em;
      line-height: 1em;
  }
  
  footer a
  {
      text-decoration: none;
      color: black;
      font-size:0.8em;
      font-weight: normal;
  }
  
  .A_propos
  {
      display: flex;
      flex-direction: column;
      line-height: 1.5em;
      margin-left: 60px;
  }
  
  .Nos_hebergements
  {
      display:flex;
      flex-direction: column;
      line-height: 1.5em;
      margin-left: 300px;
  }
  
  .Assistance
  {
      display: flex;
      flex-direction: column;
      line-height: 1.5em;
      margin-left: 300px;
  }
  
  
/*Mise en place du responsive - ORDINATEUR*/

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }

    header h1
    {
        font-size: 0.9em;
    }

    header h2 
    {
        font-size: 0.8em;
    }

    .haut_de_page nav li
    {
        margin-left: 10px;
        font-size: 0.9em;
    }
    
    .filtre_hebergement
    {
        width: auto;
    }

    .slider_E
    {
        margin-left: 10px;
        margin-top: 6px;
        width:115px;
        height: 24px;
        border-radius: 34px;
        padding-right: 15px;
        Padding-left: 25px;
        padding-top: 5px;
        padding-bottom: 4x;
        font-size: 0.8em;
    }
    
    .slider_E:before
    {
        height: 25px;
        width: 25px;
    }
    
    input:checked + .slider_E:before
    {
        transform: translateX(92px);
    }

    input:checked + .slider_E:before
    {
        padding-right: 25px;
    }
    
    .slider_F
    {
        margin-left: 10px;
        margin-top: 6px;
        width:80px;
        height: 24px;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-left: 10px;
        font-size:0.8em;
    }
    
    .slider_F:before
    {
        height: 25px;
        width: 25px;
    }
    
    input:checked + .slider_F:before
    {
        transform: translateX(56px);
    }
    
    .slider_R
    {
        margin-top: 6px;
        font-size: 0.8em;
        padding-top: 5px;
        padding-bottom: 4px;
        padding-right: 10px;
        width: 100px;
        height: 24px;
        Padding-left: 20px;
    }
    
    .slider_R:before
    {
        height: 25px;
        width: 25px;
    }
    
    input:checked + .slider_R
    {
        background-color:#0065FC;
        color: white;
        padding-left: 10px;
    }
    
    input:checked + .slider_R:before
    {
        transform: translateX(82px)
    }
       
    .slider_A
    {
        margin-top: 6px;
        padding-top: 5px;
        padding-bottom: 4px;
        width: 132px;
        height: 24px;
        font-size: 0.8em;
    }
    
    .slider_A:hover
    {
        background-color:#F2F2F2;
    }
    
    .switch_A input
    {
        display: none;
    }
    
    .slider_A:before
    {
        height: 25px;
        width: 25px;
    }
    
    input:checked + .slider_A
    {
        background-color: #0065FC;
        color: white;
        padding-right: 25px;
    }
    
    input:checked + .slider_A:before
    {
        transform: translateX(108px)
    }
   


    .les_hebergements
    {
        width: auto;
    }
  
    .hebergements
    {
        max-width: 40%;
    }


    












}
  
  
  