
/*Définition du media querie pour le mobile*/

@media all and (max-device-width: 480px)
{
   
/* Définition d'une nouvelle police nommée Raleway-VariableFont_wghts */

*, *:after, *:before {
    box-sizing: border-box;
  }
  
  
  @font-face 
  { 
      font-family: 'Raleway-VariableFont_wghts';
      src: url('police/Raleway-VariableFont_wght.ttf') format('truetype');
  }







  
}
  
  