
@media screen and (min-width: 320px)  and (max-width: 520px)
{

body
{
   padding:0;
    margin: 0;
}

.bloc_page
{
    width: 95%;
    padding: 10px;
}
/*MISE EN PAGE DU HEADER*/ 

.haut_de_page 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}
    
nav
{
    display: flex;
    width: 100%;
}
    
.haut_de_page nav a 
{
    margin-left: 0px;
    margin-right: 0px; 
    border-bottom: solid #F2F2F2;  
}

    
.haut_de_page nav a.inscription
{
    border-bottom: none;
}
        
.inscription 
{
    position: relative;
    right: 31%;
    bottom: 60px;
}
    
.haut_de_page img 
{
    width: 150px;
}
    
.haut_de_page .nav_mobile1
{      
    border-bottom: 2px solid #0065FC;
    text-align:center;
    color:#0065FC;
    padding-left:10%;
    padding-right: 10%;
    width:50%;
}

    
.haut_de_page .nav_mobile2
{
    text-align: center; 
    padding-left: 16%;
    padding-right:16%;
}

.haut_de_page nav a:hover
{
    border-top:none;
    width:50%;   
}

/*MISE EN PAGE DE LA PARTIE FILTRE*/    

label
{
    margin-bottom: 5px;
}

.bouton
{
    display: none;
}

.bouton_mobile
{  
    background-color: #0065FC;
    color: white;
    padding: 10px;
    width: 40px;
    height:40px;
    border-radius: 10px;
    border: none;
    display: flex;
}

.eco_famille
{
    display:flex;
}

.slider_E
{
    margin-left:0;
    margin-right: 20px;
}

.slider_F
{
    margin-left:0;
}

.slider_R
{
    margin-left:0;
}

.slider_A
{
    margin-left:0;
}



/*MISE EN PAGE DU BLOC HEBERGEMENTS*/ 
#bloc_vertical
{
    width: 100%;
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}

.bloc_hebergements
{
    padding:0;
    background:none;
}

.bloc_hebergements h3
{
    padding:20px;
}
.liste_des_hebergements
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.afficher_plus
{
    padding:20px 20px 0px 20px;
}

.titre_bloc_populaires
{
    padding: 20px;
}

.bloc_populaires
{
    background: #F2F2F2;
    border-radius: 0;
}

.clic_droit
{
    margin-right:0;
}

.hebergements_populaires
{
    justify-content: center;
}

.bloc_blanc_gauche
{
    margin:0 0 20px 0;
    height:200px;
    width:300px;
}

.les_activites
{
    flex-direction:column;
    align-items: center;
}

    .clic_vieux_port
        {
            width:300px;
            height:200px;
        }

        .clic_calanques
        {
            width:300px;
            height:200px;
        }

        .clic_fort
        {
            width:300px;
            height:200px;
        }

        .clic_iles
        {
            width:300px;
            height:200px;
        }

        .clic_parc
        {
            width:300px;
            height: 200px;
        }

        .clic_eglise
        {
            width:300px;
            height:200px;
        }

        .bloc_fort_iles
        {
            width:300px; 
            height: 440px;
        }

        .bloc_eglise_parc
        {
            width:300px;
            height:440px;
        }
.clic_activite
{
    margin-top: 20px;
}

#activités h3
{
    margin-bottom:0;
}

/*MISE EN PAGE DU FOOTER MOBILE*/ 

.footer
{
    padding-left: 10px;
}

footer
{
    display: flex;
    flex-direction: column;
}

}